.tagline code {
    border-radius: 4px;
    padding: 3px 6px;
    background-color: var(--vp-code-bg);
    transition: color 0.25s, background-color 0.5s;
    color: var(--vp-code-color);
    font-size: 0.9em;
}

tool, context {
    display: none;
}